div.join_div_box {
    margin-top: 20px;
}

  
  .join_div_box {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .join_h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form.join {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-group .button {
    margin-top: 10px;
    padding: 10px;
    background-color: #00dad6;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group .button:hover {
    background-color: #08b7b4;
  }
  
  .form-group.btn {
    text-align: center;
  }
  
  .form-group.btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffdf6a;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group.btn input[type="submit"]:hover {
    background-color: #fad44d;
  }
  