
  .login_div_box {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login_h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-group .login.btn_login {
    margin-top: 10px;
    padding: 10px;
    background-color: #00dad6;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .form-group .login.btn_login:hover {
    background-color: #08b7b4;
  }
  
  .form-group.join {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .form-group.join span {
    margin: 0 5px;
  }
  
  .form-group.join a {
    color: #02aeac;
    text-decoration: none;
  }
  
  .form-group.join a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
  }
  