extends ../../layout

block content
  link(rel='stylesheet' href='./css/notice.css')
  h1.n_title 공지사항
  ul.notice_menu
    li No.
    li 공지사항
    li 작성자
    li 작성일자
  each notice in row
    ul.notice_content
      li=notice.n_num
      li=notice.n_title
      li=notice.n_author
      li=notice.n_date
  if user && user.m_role === 'ADMIN' 
    a.insert_notice(href="/notice/insert") 공지사항 작성