extends ../layout

block content
  link(rel="stylesheet", href="/css/join.css")
  script(src="/js/join.js")
  div.join_div_box
    h1.join_h1 회원가입
    form.join(method="POST")
      div.form-group
        label(for="username") 사용자 ID
        input(type="text", name="m_username", id="username")
        input.button.checkID(type="button", value="중복확인", id="check_id")
      div.form-group
        label(for="password") 비밀번호
        input(type="password", name="m_password", id="password")
      div.form-group
        label(for="checkpassword") 비밀번호 확인
        input(type="password", name="checkpassword", id="checkpassword")
        input.button.checkPW(type="button", value="비밀번호확인", id="check_pw")
      div.form-group
        label(for="realname") 사용자 이름
        input(type="text", name="m_realname", id="realname")
      div.form-group
        label(for="tel") 전화번호
        input(type="text", name="m_tel", id="tel")
      div.form-group.btn
        label(for="") 
        input.button(type="submit", value="회원가입", id="btn_join")
