extends ../../layout

block content
    link(rel="stylesheet", href="/css/mypage.css")
    div.mypage_div_box
        h1.mypage_h1 MYPAGE
            i.fa.fa-user-circle
        div.mypage_div
            if row.m_image_name
                img.mypageimg(src=`/uploads/${row.m_image_name}`)
            else
                img.mypageimg(src="/images/noimage.png", alt="사진등록안함")
            div.user_inform
                p.userinformname 나의 ID
                p= row.m_username
            div.user_inform
                p.userinformname 이름
                p= row.m_realname
            div.user_inform
                p.userinformname 전화번호
                p= row.m_tel
            a.mypage_insert(href="/users/mypage_update") 수정하기